/* Scope styles to the login form container */
.login-form-container {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login-form-container h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.login-form-container .form-group {
    margin: 10px 0;
}

.login-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form-container input[type="text"],
.login-form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing:border-box;
}

.login-form-container button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form-container button:hover {
    background-color: #0056b3;
}

.login-form-container button:active {
    background-color: #004099;
}

/* Scope styles to the user profile */
.user-profile {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.user-profile h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.user-profile .profile-info {
    margin: 10px 0;
}
.user-profile .profile-info p {
    text-align: center;
}
.user-profile .profile-info {
    text-align: center;
}
.user-profile .profile-info div{
    text-align: center;
}

.user-profile p {
    margin: 0;
    line-height: 1.5;
}

.user-profile p strong {
    font-weight: bold;
    margin-right: 5px;
}

.user-profile p:last-child {
    margin-bottom: 0;
}

#AlimentsTable_wrapper{
    background-color: white;
}
table {
    background-color: white;
}

table tr:nth-child(even){
    border: rgb(214, 213, 213);
    background-color: rgb(214, 213, 213);
}

#barre_top ul li a:hover{
    background-color: rgb(33, 30, 210);
}

#barre_top ul li{
    list-style-type:none;
  }

#barre_top ul li a{
    display: inline-block;
    text-decoration: none;
    text-align: middle;
    color:black;
    background-color: aqua;
    margin-left: 1em;
    padding: 0.5em;
    border: 2px solid black;
  }

#barre_top ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    padding-left: 0px;
}

.dataTables_wrapper{
    background-color: white;
}
id_repas
#meal-form{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#meal-form input[type="number"] {
    size: 50px;
}

#meal-form .form-group {
    display: inline-block;
    margin-right: 10px; /* Add spacing between elements if desired */
}

#aliment-form{
    background-color: white;
    display: inline-block;
}

#aliment-form input[type="number"] {
    size: 50px;
}

#aliment-form .form-group {
    display: inline-block;
    margin-right: 10px; /* Add spacing between elements if desired */
}

.charts-container{
    background-color: white;
}
#addRepas{
    background-color: white;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Style each suggestion item */
.ui-menu-item {
    padding: 10px;
    cursor: pointer;
    background-color: gray;
}

#ui-id-1{
    background-color: gray;
}
/* Style the active suggestion item */
.ui-menu-item-wrapper.ui-state-active {
    background-color: #007bff;
    color: #fff;
}

.form-group{
    background-color: white;
}